.header {
    background-color: aqua;
    color: black;
    padding: 20px;
    text-align: center;
}

.content {
    margin: 15px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.footer {
    background-color: darkmagenta;
    color: hotpink;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}